Makefile
metadata.json
icons
nuvola-app-npr-one
eu.tiliado.NuvolaAppNprOne.desktop
eu.tiliado.NuvolaAppNprOne.data.service
eu.tiliado.NuvolaAppNprOne.appdata.xml
npr_one.tar.gz
eu.tiliado.NuvolaAppNprOne.service
eu.tiliado.WebRuntimeAppNprOne.appdata.xml
eu.tiliado.WebRuntimeAppNprOne.desktop
eu.tiliado.WebRuntimeAppNprOne.service
nuvola-app-npr-one.metainfo.xml
/screenshots/
